# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# data folder
data/arg-lexicon
data/hash-sentiments
data/50mpaths2
data/bingliunegs.txt
data/bingliuposs.txt
data/hashtag-emotion-0.2.txt
data/subj_score.txt
data/dataset/TweeboParser/
data/dataset/working_dir/
data/dataset/tweet_data_complete.2tsv
data/dataset/P3_vaccine-twitter-data.tsv
data/dataset/tweet_for_dp.txt
data/dataset/tweet_for_dp.txt.predict
data/dataset/TweetsAnnotation.txt
run_tests/
sistematic_results/



# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
